<!DOCTYPE html>
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>普天订单转换表格下载说明</title>
  <style type="text/css">
      .ty{
          width: 80%;
          height: auto;
          border: 1px solid #AAA;
          margin-left: 10%;
          margin-bottom: 10px;
      }
  </style>
</head>
<body>
    <img src="http://ra03a3vjl.hn-bkt.clouddn.com/1.png" class="ty">
    <img src="http://ra03a3vjl.hn-bkt.clouddn.com/2.png" class="ty">
    <canvas id="aaa"></canvas>
</body>
<script>

</script>
</html>