<!DOCTYPE html>
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>tomcat11111111111111</title>
  <style type="text/css">
      .ty{
          width: 80%;
          height: auto;
          border: 1px solid #AAA;
          margin-left: 10%;
          margin-bottom: 10px;
      }
  </style>
</head>
<body>
    <h1>tomcat11111111111111</h1>
</body>
<script>

</script>
</html>