<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>测试</title>
</head>
<body>

<div style="color: RED;font-size: 66px" th:text="${result}"></div>
<h1>这里是江哥的测试页面，用来测试 excel 的表格转换功能！ </h1>

<!--<input type="file" name="上传" th:value="上传" >

<input id="myDiv" type="button" value="弹框 + 访问" onclick="onclick:test()">-->


<form method="POST" enctype="multipart/form-data" action="http://mexjj.xyz/renyi/xkk/upload">
  <input type="hidden" id="idperson" value='${result}'>
  <table>
    <tr><td>第一步:先上传excel文件</td><td>
      <input type="file" name="file" /></td></tr>
    <div style="height: 300px;width: 500px"></div>
    <tr style="margin-top: 100px;"><td>第二步:</td><td>
      <input style="margin-top: 20px" type="submit" value="开始上传，自动转换" />
    </td></tr>
  </table>
</form>

</body>
<script>
  function test(){
    alert('江哥成功了吗？  还要继续努力哦!');

    location.href = 'http://mexjj.natapp1.cc/xkk/download';

    /*$.ajax({
      type: "GET",
      url: "http://mexjj.natapp1.cc/xkk/download",
      data: {  },
      dataType: "JSON",
      success: function(result) {
        var data = result.data;

      }
    });*/
  }

/*  $(document).ready(function(){
    $("#b01").click(function(){
      htmlobj=$.ajax({url:"/jquery/test1.txt",async:false});
      $("#myDiv").html(htmlobj.responseText);
    });
  });*/
</script>
</html>