<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Java测试</title>
</head>
<body>
<div style="color: YELLOW;font-size: 66px" th:text="${result}"></div>
<h1>开始自定义的页面！！！</h1>

<input type="file" name="上传" th:value="上传">
<!--<table>
  <tr>
    <td>姓名</td>
    <td>性别</td>
    <td>爱好</td>
  </tr>
  <tr th:each="user:${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.sex}"></td>
    <td th:text="${user.hobby}"></td>
  </tr>
</table>-->
</body>
</html>